p1 {

    color: #f7f7f7;
}

.jumbotron {
    background-image: url("https://media.istockphoto.com/photos/different-types-of-bacteria-on-a-light-background-picture-id1317692364?b=1&k=20&m=1317692364&s=170667a&w=0&h=PMVJutBZxddqZWr5wvO2wZccGNEPP046VdRsv1tKyJc=");
    background-size: 100% 100%;
    text-align: center;
}